body{
    background-color: rgba(27, 43, 190, 0.301);
    font-family: sans-serif;
    text-align: center;
} 

.image{
    padding: 20px; 
}
button{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
button:hover{
    box-shadow: 0 0 5px rgb(255, 0, 128),
    0 0 25px rgb(255, 0, 128),0 0 50px rgb(255, 0, 128),
    0 0 100px rgb(255, 0, 128),0 0 200px rgb(255, 0, 128);
}
